asgiref
certifi==2021.10.8
charset-normalizer==2.0.12
click
colorama==0.4.4
coverage
Django
django-cors-headers
Flask==2.0.2
idna==3.3
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python==8.0.24
protobuf
python-dotenv==0.20.0
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
Werkzeug
